[Unit]
Description=Starts the Webcam Simulation
Requires=mediamtx.service
Wants=network.target
After=network.target mediamtx.service

[Service]
Type=simple
User=camuser
ExecStart=ffmpeg -re -stream_loop -1 -i {{simulatedwebcam_video}} -rtsp_transport tcp  -c copy -f rtsp {{simulatedwebcam_rtsp_url}}
Restart=on-failure

[Install]
WantedBy=multi-user.target
