# Squid Configuration

http_port 3128

# Define ACLs for allowed networks
{% for net in squid_networks %}
acl {{ net.name }} src {{ net.cidr }}
{% endfor %}

# Allow access from these networks
{% for net in squid_networks %}
http_access allow {{ net.name }}
{% endfor %}

http_access deny all

# Customize log format
# 2025-02-21T09:40:23.943 +0000 192.168.50.21 TCP_MISS/503 3943 GET http://www.google.com/ - HIER_DIRECT/142.251.208.100 text/html
logformat custom {% raw %}%tl{%Y-%m-%dT%H:%M:%S.}%tu %tl{%z} %>a %Ss/%03>Hs %<st %rm %ru %[un %Sh/%<a %mt{% endraw %}

# Log all activity
access_log {{ squid_logfile }} custom

